{%- if classes and ('usa-button-inverse' in classes) -%}
<div class="bg-base-darkest padding-1" style="max-width: fit-content">
{% endif -%}

<button class="usa-button {{ classes }}">Default</button>
{% if (category != 'disabled') and (category != 'big') -%}
<button class="usa-button {% if classes %}{{ classes }} {% endif %}is-hover">Hover</button>
<button class="usa-button {% if classes %}{{ classes }} {% endif %}is-active">Active</button>
<button class="usa-button {% if classes %}{{ classes }} {% endif %}is-focus">Focus</button>
<button class="usa-button {% if classes %}{{ classes }} {% endif %}is-disabled" disabled>Disabled</button>
{%- endif -%}

{%- if classes and ('usa-button-inverse' in classes) %}
</div>
{%- endif %}
